.header-container{
    display: flex;
    background-color: rgb(48, 48, 48);
    min-height: 100px;
}

.title-container{
    display: flex;
    flex-direction: column;
}

.app-title, p{
    color:white
}